:root {
  --primary-blue: #1d9bf0;
  --secondary-blue: #4592c6;
  --gray: #dfdfdf;
  --light-gray: #efefef;
  --black: #393939;
  --white: #fff;
}

*,
html {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: var(--light-gray);
}

.header {
  width: 100%;
  height: 3em;
  padding: 2em 6em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5em;
}
.header__link {
  text-decoration: none;
  font-weight: 800;
  color: var(--black);
  font-size: 1em;
  transition: 300ms;
}
.header__link:hover {
  color: var(--secondary-blue);
}
.header__link.active {
  color: var(--primary-blue);
}
.backgroundCard {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: var(--white);
  width: 28em;
  height: 32em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.8em;
  box-shadow: 1px 4px 4px 2px rgba(0, 0, 0, 0.3);
  padding: 1em;
  padding-top: 2em;
}
.card__title {
  color: var(--primary-blue);
}
.card__title.search {
}

.card__subtitle {
  color: var(--black);
  font-weight: 600;
}
.backgroundCard.popup {
  display: none;
  position: absolute;
  top: 4em;
}
.backgroundCard.popup.active {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}
.card__subtitle.popup {
  width: 80%;
  text-align: center;
  margin-bottom: 0.5em;
  margin-top: 0.2em;
  font-size: 0.9em;
}
.card.popup {
  position: absolute;
  top: 0;
  padding-top: 1em;
}
.card__back {
  width: 1em;
  position: absolute;
  left: 1.5em;
  top: 2.2em;
  cursor: pointer;
}
.card__title.popup {
  margin-top: -0.2em;
}
.line-popup {
  margin-top: 4em;
}
.searchedClients.popup {
  height: 70%;
  margin-bottom: -3em;
  padding-left: 3em;
  padding-right: -1em;
}
.client.popup {
  position: relative;
  width: 90%;
}
.client__coord {
  color: var(--white);
  font-weight: bold;
  position: absolute;
  right: 1em;
}
.form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
}
.form__label {
  margin-left: 3em;
  font-weight: 800;
  color: var(--black);
  align-self: normal;
}
.form__input {
  margin-bottom: 1.2em;
  width: 22em;
  height: 3em;
  outline: none;
  border: none;
  border-radius: 0.8em;
  box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.15);
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.form__input.search {
  padding-right: 4.5em;
}
.form__input-search-client {
  position: relative;
}
.button.search {
  width: 3em;
  height: 2.6em;
  position: absolute;
  top: 0.5em;
  right: 1.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8em;
}
.search__icon {
  width: 1.5em;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.input {
  display: flex;
  flex-direction: column;
  width: 22em;
  height: auto;
  align-items: center;
}
.button {
  height: 3em;
  width: 16em;
  border: none;
  border-radius: 0.6em;
  margin-top: 1em;
  background-color: var(--primary-blue);
  color: var(--white);
  font-weight: 800;
  font-size: 1em;
  transition: 300ms;
}
.button:hover {
  cursor: pointer;
  background-color: var(--secondary-blue);
}

.line {
  background-color: var(--gray);
  width: 60%;
  height: 0.01em;
}
.searchedClients {
  width: 95%;
  height: 60%;
  overflow-y: auto;
  padding: 1em 0em;
}
.client {
  width: 100%;
  font-size: 16px;
  display: flex;
  justify-content: baseline;
  text-indent: 0.3em;
  background-color: var(--primary-blue);
  border-radius: 1em;
  padding: 0.3em;
  padding-left: 1.5em;
  margin-bottom: 0.5em;
}
.client__image {
  width: 32px;
  margin-left: 0em;
  margin-right: 1em;
}
.client__data {
  display: flex;
  flex-direction: column;
  gap: 0.05em;
}
.client__name {
  font-size: 1em;
  font-weight: bold;
  color: var(--white);
}
.client__email {
  font-size: 0.8em;
  color: var(--light-gray);
}
@media (max-width: 540px) {
  .header {
    justify-content: center;
  }
  .card {
    width: 22em;
  }
  .card__title.popup {
    font-size: 1.6em;
    margin-top: -0.5em;
  }
  .card__subtitle.popup {
    font-size: 0.8em;
  }
  .client.popup {
    width: 100%;
    margin-left: -1.2em;
  }
  .client__coord {
    font-size: .8em;
  }
}
